@import 'home/header.css';
@import 'home/main.css';
@import 'home/footer.css';

/* about */
@import 'about/main-about.css';

/* book */
@import 'book/main_book.css';

/* menu */
@import 'menu/main-menu.css';

/* contact */
@import 'contact/main__contact.css';

@import 'https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Playfair+Display:ital,wght@0,400;0,500;1,600&display=swap';

:root{
    --principal-font: 'DM Sans', sans-serif;;
    --secundary-font: 'Playfair Display', serif;

    --logo-color: #494949;

    --contact-background: #474747;
    --creme-color: #F9F9F7;
    --backgroundRedes-sociais: rgba(249, 249, 247, 0.12);

    --menu-color: #f5f5f2;
    --Menu-header: #2e2e2e;
    
    --text-buttons: #182226;
    --text-button: #fff;
    --shadow: rgba(0, 0, 0, 0.4);
    
    --redItens-color: #AD343E;
    --redHover-color: #96252f;

    --greenItens-color: #2C2F24;
    --whiteHover-color: rgb(234, 234, 234);
    --tinyItens-color: #414536;

    --green-light: #DBDFD0;
    --background-icons: rgba(77, 89, 43, 0.07);

    --text-footer: #ADB29E;
    --border-footer: #414536;

    /* book */

    --bg-form: #ffffff;

    /* contact */
    --shadow-form: #c7c7c7;

    --bg-contact: #ffff;
}

@keyframes menuOpen{
    0%{
        height: 0;
    }

    100%{
        height: calc(100vh - 98px);
    }
}

*{
    font-family: var(--principal-font);
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    max-height: 100%;
    min-height: 100vh;

    overflow-x: hidden;
}