.main__contact{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__contact > div{
    width: 100%;
}

.contact__background-creme{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;

    background-color: var(--creme-color);
}

.contact__background-white{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 700px;

    background-color: var(--bg-contact);
}

.contact__background-creme h1{
    font-family: var(--secundary-font);
    font-size: 4.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0 20px;
}

.contact__background-creme p{
    max-width: 575px;
    font-size: 1rem;
    text-align: center;
    margin: 0 20px;
}

.contact__form{
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;

    border-radius: 10px;

    position: absolute;
    z-index: 1;
    box-shadow: 30px 30px 70px var(--shadow-form);
}

.contact__form div{
    width: 100%;
}

.row__organization{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__form div label,
.contact__form div input{
    font-family: var(--principal-font);
    color: var(--greenItens-color);
    font-size: 1.125rem;
}

.contact__form label{
    font-weight: 700;
}

.contact__form input{
    width: 100%;
    height: 45px;
    padding: 5px 20px;
    margin: 15px 0 0 0;

    border: 1px solid var(--green-light);
    border-radius: 40px;
}

.organization__message{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__form textarea{
    width: 100%;
    height: 160px;
    padding: 10px 20px;
    margin: 15px 0 0 0;

    font-family: var(--principal-font);
    font-size: 1rem;
    border: 1px solid var(--green-light);
    border-radius: 15px;
}

#form__send{
    width: 100%;
    margin: 0;

    font-size: 0.9rem;
    text-align: center;

    background-color: var(--redItens-color);
    color: var(--text-button);
    border: 0;
    box-shadow: 1px 1px 1px var(--shadow);
    transition: all 0.15s ease-in;

    cursor: pointer;
}

#form__send:hover{
    background-color: var(--redHover-color);
    color: var(--whiteHover-color);
}

.contact__infos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    max-height: 600px;
    margin: 0 20px 50px 20px;
    gap: 20px;
}

.infos__number p{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--redItens-color);
}

.infos__number h2,
.infos__hours h2,
.infos__our-location h2{
    font-size: 1.25rem;
    color: var(--greenItens-color);

    margin: 0 0 20px 0;
}

.infos__hours p,
.infos__our-location p{
    font-size: 1.125rem;
    color: var(--greenItens-color);
}

@media (min-width: 690px){

    .contact__background-creme h1{
        font-size: 6rem;
    }

    .contact__background-creme p{
        font-size: 1.125rem;
    }

    .contact__infos{
        width: 100%;
        max-width: 800px;
        margin: 0 0 100px 0;
        gap: 50px;
    }

    .contact__background-creme,
    .contact__background-white{
        min-height: 600px;
    }

    .row__organization{
        flex-direction: row;
    }
}

@media (max-width: 450px){

    .contact__infos{
        flex-wrap: nowrap;
    }
}